**/__pycache__
.idea
.mypy_cache
/venv/
sqlite:

build/
dist/
dump\.rdb
biobarcoding/rest/*.conf
celerybeat*
jc_tests.py
/tests/data_test/celery_log.txt

biobarcoding/services/perl_scripts/load_taxonomy.err

biobarcoding/services/perl_scripts/names.dmp

biobarcoding/services/perl_scripts/nodes.dmp
